<!-- 
<ion-card *ngFor="let gaji of tukinData; let i = index">
  <ion-card-content>
    <button (click)="feedDeleteAction(i, gaji.nip)" class="right">
      <ion-icon name="trash"></ion-icon>
    </button>
    <p [innerHTML]="gaji.nip"></p>
    <app-timeago [created]="feed.nip"></app-timeago>
  </ion-card-content>
</ion-card> -->

<ion-card color="dark">
  <ion-card-content>
    <h2 style="text-align: center;">Nominal Tukin Bulan {{tukinData.bulan}} Tahun {{tukinData.tahun}}</h2>
     
     <h1 style="text-align: center;"> {{tukinData.nilai_netto | currency:"Rp " }}  </h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            Nilai Bruto
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.nilai_bruto| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Potongan Zakat
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.pot_zakat| currency:" "}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Potongan Kopri
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.pot_kopri| currency:" "}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Paguyuban
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.pot_paguyuban| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div>
            Pot Kosikas
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.pot_kosikas| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Kurban
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.pot_kurban| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Bank
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.pot_bank| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Total
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.pot_total| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div>
            Nilai Netto 
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{tukinData.nilai_netto | currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>