<ion-header>
  <ion-toolbar color="dark">
    <ion-title> {{ authUser?.nama_pegawai }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <!-- <ion-item>
    <h2> </h2>
    
  </ion-item> -->
  <app-gaji-filter [loginUser]="authUser"></app-gaji-filter>
  <app-gaji-card [loginUser]="authUser" ></app-gaji-card>
</ion-content>