<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
    <ion-item>
    <ion-label  (click)="navigateToGantiPassword()">Ganti Password</ion-label>
  </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
    <ion-label  (click)="logoutAction()">Log Out</ion-label>
  </ion-item>
  </ion-list>
</ion-content>