<ion-item>
  <ion-label>Tahun</ion-label>
  <ion-select [(ngModel)]="postData.tahun"  okText="Ok" cancelText="Cancel" required>
    <ion-select-option value="2020">2020</ion-select-option>
    <ion-select-option value="2021">2021</ion-select-option>
    
  </ion-select>
</ion-item>
<ion-item>
  <ion-label>Bulan</ion-label>
  <ion-select [(ngModel)]="postData.bulan"  okText="Ok" cancelText="Cancel" required>
    <ion-select-option value="1">Januari</ion-select-option>
    <ion-select-option value="2">Februari</ion-select-option>
    <ion-select-option value="3">Maret</ion-select-option>
    <ion-select-option value="4">April</ion-select-option>
    <ion-select-option value="5">Mei</ion-select-option>
    <ion-select-option value="6">Juni</ion-select-option>
    <ion-select-option value="7">Juli</ion-select-option>
    <ion-select-option value="8">Agustus</ion-select-option>
    <ion-select-option value="9">September</ion-select-option>
    <ion-select-option value="10">Oktober</ion-select-option>
    <ion-select-option value="11">November</ion-select-option>
    <ion-select-option value="12">Desember</ion-select-option>
    
  </ion-select>
</ion-item>

<ion-item>
  <ion-button color='dark' item-end (click)="gajiUpdateAction()">Cek</ion-button>
</ion-item>