<!-- <ion-header parallax src="assets/images/logo.png" maximumHeight="350" expandedColor="#AAA" titleColor="white">
  
  <ion-toolbar color="primary">
    <ion-title>
      Parallax Header
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="center">
  
    <ion-img src="assets/images/header.jpg" maximumHeight="350"></ion-img>
  
  
</div>

  <!-- <app-feed-update [loginUser]="authUser"></app-feed-update>
  <app-feed-card [loginUser]="authUser"></app-feed-card> -->
  <ion-card color="dark">
    
    <ion-card-content>
      <ion-row>
        <ion-col class="center">
          <ion-text color="">
            <h2>
              Gaji Bulan {{feedData.bulan_gaji}}  <br>
            <b>Rp. {{feedData.nilai_gaji| currency:" "}}</b>
          </h2>
          </ion-text>
        </ion-col>
        <ion-col class="center">
          <ion-text color="">
            <h2>
            Tukin Bulan {{feedData.bulan_tukin}} <br>
            <b>Rp. {{feedData.nilai_tukin| currency:" "}}</b>
          </h2>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    
    <ion-card-header>
        
      <ion-card-title>Tips Keuangan #1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
          <ion-img src="assets/images/10.jpg"></ion-img>
          
          
    </ion-card-content>
  </ion-card>
  <ion-card>
    
    <ion-card-header>
        
      <ion-card-title>Tips Keuangan #2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
          <ion-img src="assets/images/13.jpg"></ion-img>
          
          
    </ion-card-content>
  </ion-card>
  <ion-card>
    
    <ion-card-header>
        
      <ion-card-title>Tips Keuangan #3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
          <ion-img src="assets/images/6.jpg"></ion-img>
          
          
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    
    <ion-card-header>
        
      <ion-card-title>Tips Keuangan #4</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
          <ion-img src="assets/images/7.png"></ion-img>
          
          
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    
    <ion-card-header>
        
      <ion-card-title>Tips Keuangan #5</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
          <ion-img src="assets/images/8.jpg"></ion-img>
          
          
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    
    <ion-card-header>
        
      <ion-card-title>Tips Keuangan #6</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
          <ion-img src="assets/images/9.jpg"></ion-img>
          
          
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    
    <ion-card-header>
        
      <ion-card-title>Tips Keuangan #7</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
          <ion-img src="assets/images/11.jpg"></ion-img>
          
          
    </ion-card-content>
    
  </ion-card>
  <ion-card>
    
    <ion-card-header>
        
      <ion-card-title>Tips Keuangan #8</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      
          <ion-img src="assets/images/12.jpg"></ion-img>
          
          
    </ion-card-content>
    
  </ion-card>