<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Ganti Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <!-- <ion-item>
    <h2> Ganti Password {{ authUser.nama_pegawai }}</h2>
  </ion-item> -->
  <ion-item>
    <ion-label position="floating">Password Baru</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="postData.password"></ion-input>
  </ion-item>
  <ion-button expand="block" share="round" color="success" (click)="updatePassswordAction()">Update</ion-button>
  
</ion-content>