<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="feed">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tukin">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Tukin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gaji">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Gaji</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>