<!-- 
<ion-card *ngFor="let gaji of gajiData; let i = index">
  <ion-card-content>
    <button (click)="feedDeleteAction(i, gaji.nip)" class="right">
      <ion-icon name="trash"></ion-icon>
    </button>
    <p [innerHTML]="gaji.nip"></p>
    <app-timeago [created]="feed.nip"></app-timeago>
  </ion-card-content>
</ion-card> -->

<ion-card color="dark">
  <ion-card-content>
    <h2 style="text-align: center;">Nominal Gaji Bulan {{gajiData.bulan}} Tahun {{gajiData.tahun}}</h2>
     
     <h1 style="text-align: center;"> {{gajiData.nilai_netto_2 | currency:"Rp " }}  </h1>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            Nilai Bruto
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.nilai_bruto| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Potongan Zakat
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_zakat| currency:" "}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Kosikas
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_sim_suk_kosikas| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Korpri
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_korpri| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Simpanan Wajib
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_simpanan_wajib| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Pinjaman Kosikas
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_pinjaman_kosikas| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Arisan DW
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_arisan_dw| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Sembako
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_sembako| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Tabungan DW
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_tabungan_dw| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Bank
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_bank| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot IU TU
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_iu_tu| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Pot Rumah Dinas
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.pot_rumah_dinas| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Nilai Bruto Min Pot Tanpa Bank
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.nilai_bruto_min_pot_tanpa_bank| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      
      <ion-row>
        <ion-col>
          <div>
            Nilai Netto 1
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.nilai_netto_1| currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Tambah Uang DW
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.tambah_uang_dw | currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            Nilai Netto 2
          </div>
        </ion-col>
        <ion-col>
          <div class="rataKanan">
            {{gajiData.nilai_netto_2 | currency:" "}}
          </div>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>